.cart {
    margin: 5rem 2rem;
    border: 2px solid #540075;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #540075;
    }
}
